.App{
  margin: 100px 0px 0px 0px ;
  text-align: center;
  display:inline-block;
  border: 5px groove rgb(15, 15, 16);
  background-color: pink;
  padding: 50px;
  border-radius: 15px;
  width: 25%;
  
}
.App label{
  text-align: left;
  display: inline;
  font-weight: bolder;
  color: black;
  margin-left: 20px;

}
*{
  text-align:center;
}